.tela {
    background-color: #8b000086;
    border-radius: 0px 0px 20px 20px;

    width: 80vw;
    height: 70vh;
}

h1 {
    background-color: #ff000085;
    border-radius: 20px 20px 0px 0px;
    font-weight: 300;

    padding: 30px;
}