.menu {
    background-color: #ff00004b;
    box-shadow: 0px 4px 4px #000;
    border-radius: 25px 50px 25px 50px;
    font-size: 18px;
    position: absolute;

    width: 330px;
    height: 750px;

    right: 80px;

    padding: 20px;

    display: none;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;

    opacity: 0;
    transition: all 0.5s ease;
}

.menu.open {
    transform: scale(101%) translateX(-20px);
    opacity: 1;
}

.botao {
    background-color: #d10000;
    border-radius: 5px 10px 5px 10px;

    width: 250px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.botao:hover {
    background-color: #fff;
    color: #ee0000;
    transition: 0.1s;
    transform: translateX(-15px);
}

main {
    display: flex;
    justify-content: space-around;
}

@keyframes ava {
    0% {
        transform: translateY(0) scale(1.1);
        opacity: 0.5;
    }

    100% {
        transform: translateY(-30px) scale(0.9);
        opacity: 1;
    }
}

.guts {
    position: absolute;
    /* background-color: lightslategrey; */
    height: 92vh;
    overflow: hidden;

    transition: opacity 0.3s ease-in-out;
}

#guts {
    margin-top: 35px;
    height: 900px;

    animation: ava 3s ease-in-out 1 forwards;
}

.block1 {
    /* background-color: lightblue; */
    
    width: 50vw;

    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: start;
}

.block2 {
    /* background-color: lightpink; */

    width: 50vw;
    
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: end;
}

@keyframes rar {
    0% {
        transform: translateX(-100px);
        opacity: 0.5;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rer {
    0% {
        transform: translateX(100px);
        opacity: 0.5;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.bloco {
    background-color: #ff00004b;
    border-radius: 50px 25px 50px 25px;
    font-size: 18px;
    box-shadow: 0px 4px 4px #000;
    
    width: 350px;
    height: 250px;
    
    padding: 20px;
    margin-top: 200px;
    margin-left: 30px;
    margin-right: 30px;
    
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: start;

    transition: 0.3s ease-in-out;
    animation: rar 2s ease-out 1 forwards;
}

.bloquinho {
    background-color: #ff00004b;
    border-radius: 50px 25px 50px 25px;
    font-size: 15px;
    box-shadow: 0px 4px 4px #000;
    
    width: 250px;
    height: 200px;
    
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: start;

    transition: 0.3s ease-in-out;
    animation: rar 2s ease-out 1 forwards;
}

#ciri1 {
    border-radius: 25px 50px 25px 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    animation: rer 2s ease-out 1 forwards;
}

#ciri2 {
    border-radius: 25px 50px 25px 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: rer 2s ease-out 1 forwards;
}

.ciri1 {
    width: 250px;
    height: 150px;

    border-radius: 20px;
}

.ciri2 {
    width: 130px;
    height: 130px;

    border-radius: 50%;
}

.bloco, .bloquinho {
    border: 1px solid black;
}

.bloco:hover, .bloquinho:hover {
    border: 1px solid #b80101;
}

input {
    background-color: #a50000;
    color: white;
    border: 1px solid black;
    border-radius: 10px 5px 10px 5px;
    box-shadow: 0px 2px 2px #000;

    width: 120px;

    padding: 10px;
}

input:hover {
    background-color: #fff;
    color: #da0101;
    transition: 0.3s;
    transform: scale(105%);
}

input:active {
    box-shadow: inset 0px 2px 2px #000;
}